@{
    ViewBag.Title = "Home Page";
}
<style>
    .center {
        text-align: center;
        padding: 95px 0;
        margin: 95px 0;
        
    }
</style>


<div class="center">
    <h1>Madhyamgram High School</h1>
</div>